<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1675169040.3911819</real>
	<key>UUID</key>
	<string>5E0A076E-5968-4C50-96C7-43F9A02B8872</string>
</dict>
</plist>
